body {
    margin: 0;
  
    background-color: $white;
    
    font-family: 'Roboto', sans-serif;
    
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ol,
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  a {
    
    text-decoration: none;
    color: $black;
    cursor: pointer;
    
  }

.dark-theme {
  background-color: #1b1b1d;
}