<footer class="footer">
    <div class="footer_div container">
        <p class="footer_text footer-margin">© 2022 | All Rights Reserved |</p>
        <div class="footer_diskription">
            <p class="footer_text">&nbsp;Developed with&nbsp;&nbsp;&nbsp;</p>
    <div class="footer_pulse">
        <svg class="footer_icon" width="14" height="12">
            <use class="footer_vector" href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
    </div>
    <p class="footer_text">&nbsp;&nbsp;&nbsp;by&nbsp;</p>
    <p class="footer_link">GoIT Studens</p>
    </div>
    </div>
        
    
</footer>
<div id="back_to_top" class="back-to-top">
    <svg class="scroll" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-circle-up"></use>
    </svg>
</div>