<div class="backdrop-footer is-hidden-footer container" data-modal>
    <div class="modal-footer">
        <button type="button" class="modal-close-btn">
            <svg class="close-icon" width="18" height="18">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <div class="box-developer">
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Raccoon</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="https://github.com/LazyFatRaccoon" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Станіслав Тищенко</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="https://github.com/Stanislav2022" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Олександо Горжій</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Андрій Бачинский</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Євгеній Медяник</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Oleksandr-Kravtsov.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Олександр Кравцов</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="https://github.com/Kravtsov9983" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Oleksandr-Tolochko.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Олександр Толочко</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="https://github.com/Alex-T-T" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Володимир Болгов</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="developer-user">
                <img class="developer-foto" src="./images/Raccoon3.webp" alt="developer-foto">
                <div class="developer-user_box">
                    <div class="box-item">
                        <p class="developer-name">Володимир В</p>
                        <p class="developer-work">developer-work</p>
                    </div>
                    <div class="box-link">
                        <li class="box-list">
                            <a class="footer-link" href="" target="_blank">
                                <svg class="svg" width="30" height="30">
                                    <use href="./images/symbol-defs.svg#icon-github-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>