 <!-- GALLERY -->
 <!-- <main>
    <section class="section"> -->
      <div class="container">
        <img class="hide-form" src="/src/images/camera.jpg" alt="">
        <svg class="hide-form" width="30" height="30">
          <use href="/src/images/auth-icon/login-icon.svg#icon-watched"></use>
        </svg>
        <svg class="hide-form" width="30" height="30">
           <use href="/src/images/auth-icon/login-icon.svg#icon-queue"></use>
         </svg>
        <ul class="films__list">
          <!-- JS start -->
          <!-- JS finish -->
        </ul>
      </div>