 <!-- GALLERY -->
 <main>
    <section class="section">
      <div class="container">
        <ul class="films__list">
          <!-- JS start -->
          <li class="films__item">
            <a class="films__link" href="">
              <img src="./images/Rectangle 5.jpg" alt="${}" />
              <div class="films__decor">
                <h2 class="films__title">LITTLE WOMEN</h2>
                <p class="films__description">Drama | 2019</p>
              </div>
            </a>
          </li>
          <!-- JS finish -->
          <li class="films__item">
            <a class="films__link" href="">
              <img src="./images/Rectangle 5.jpg" alt="${}" />
              <div class="films__decor">
                <h2 class="films__title">LITTLE WOMEN</h2>
                <p class="films__description">Drama | 2019</p>
              </div>
            </a>
          </li>
          <li class="films__item">
            <a class="films__link" href="">
              <img src="./images/Rectangle 5.jpg" alt="${}" />
              <div class="films__decor">
                <h2 class="films__title">LITTLE WOMEN</h2>
                <p class="films__description">Drama | 2019</p>
              </div>
            </a>
          </li>
          <li class="films__item">
            <a class="films__link" href="">
              <img src="./images/Rectangle 5.jpg" alt="${}" />
              <div class="films__decor">
                <h2 class="films__title">LITTLE WOMEN</h2>
                <p class="films__description">Drama | 2019</p>
              </div>
            </a>
          </li>
          <li class="films__item">
            <a class="films__link" href="">
              <img src="./images/Rectangle 5.jpg" alt="${}" />
              <div class="films__decor">
                <h2 class="films__title">LITTLE WOMEN</h2>
                <p class="films__description">Drama | 2019</p>
              </div>
            </a>
          </li>
        </ul>
      </div>