<header>
    <div class="header__library">
      <div class="header__container-library">
        <nav class="header__navigation">
          <a href="./index.html" class="header__logo">
            <svg width="24px" height="24px" aria-label="Logo">
              <use href="/src/images/symbol-defs.svg#icon-logo"></use>
            </svg>
            <span class="header__logo-name">Filmoteka</span>
          </a>
          <div class="header__pages">
            <a class="header__pages-link" href="./index.html">HOME</a>
            <a class="header__pages-link current_page" href="./library.html">MY LIBRARY</button>
          </div>
        </nav>
        <div class="header__library-buttons">
            <button class="header__button" type="button">WATCHED</button>
            <button class="header__button" type="button">QUEUE</button>   
        </div>
      </div>
    </div>
</header>