<header>
  <div class="header">
    <div class="header__container">
      <nav class="header__navigation">
        <a href="#" class="header__logo">
          <svg width="24px" height="24px" aria-label="Logo">
            <use href="/src/images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <span class="header__logo-name">Filmoteka</span>
        </a>
        <div class="header__pages">
          <button type="button" class="header__pages-link">HOME</button>
          <button type="button" class="header__pages-link">MY LIBRARY</button>
        </div>
      </nav>
      <div class="auth-wrapper">
        <svg width="40" height="40" id="auth-icon" class="auth-icon">
          <use href="/src/images/auth-icon/login-icon.svg#icon-user"></use>
        </svg>
        <button type="button" class="btn-signout hide-form" id="btn-signout">
          SignOut
        </button>
        <form class="auth-form hide-form">
          <label title="email">
            <input
              type="email"
              name="userEmail"
              id="emailInput"
              placeholder="email"
            />
          </label>
          <label title="password">
            <input
              type="password"
              name="userPassword"
              id="passwordInput"
              minlength="6"
              placeholder="password"
            />
          </label>
          <div>
            <button type="submit" class="btn-enter" value="enter">enter</button>
            <button type="submit" class="btn-register" value="register">
              register
            </button>
          </div>
        </form>
      </div>
      <form class="header__form">
        <input
          class="header__input"
          type="text"
          placeholder="Movie search"
          autocomplete="off"
        />
        <button type="submit" class="header__button">
          <svg width="14px" height="14px" aria-label="Search">
            <use href="/src/images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
