<div class="backdrop isHidden">
  <div class="modal">
    <button class="modal__close-btn">
      <svg class="modal__close-btn-svg" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__preview">
      <img class="modal__preview-img" />
    </div>
    <div class="modal__discription">
      <h2 class="discription__title"></h2>
      <ul class="discription__mvi">
        <li class="mvi">
          <p class="mvi__key">Vote / Votes</p>
          <p class="mvi__val">
            <span class="mvi__rait"></span><span class="mvi__slash">/</span
            ><span class="mvi__watch"></span>
          </p>
        </li>
        <li class="mvi">
          <p class="mvi__key">Popularity</p>
          <p class="mvi__val mvi__pop"></p>
        </li>
        <li class="mvi">
          <p class="mvi__key">Original Title</p>
          <p class="mvi__val mvi__name"></p>
        </li>
        <li class="mvi">
          <p class="mvi__key">Genre</p>
          <p class="mvi__val mvi__genre"></p>
        </li>
      </ul>
      <h3 class="discription__about">About</h3>
      <p class="discription__about-text"></p>
      <div class="button">
        <button class="button__add add-btn__watched">add to watched</button>
        <button class="button__add add-btn__queue">add to queue</button>
      </div>
    </div>
  </div>
</div>
