.auth-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 24px;
  height: 24px;

  @media screen and(min-width: 768px) {
    width: 35px;
    height: 35px;    
  }
}

.auth-icon {
  fill: $white;
  @media screen and (min-width: $tablet){ 
    width: 35px;
    height: 35px; 
  }

  &:hover {
    fill: #ff6b01;
    cursor: pointer;
  }
}

.auth-form {
  position: absolute;
  width: 140px;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  & input {
    width: 100%;
    margin-bottom: 5px;
    background-color: transparent;
    color: $white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font_weight_m;
    font-size: $font_size_m;
    line-height: $font_height_s;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid $white;
    border-radius: 0px;
    padding: 0px;

    &::placeholder {
      color: $white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: $font_weight_m;
      font-size: $font_size_m;
      line-height: $font_height_s;
    }

    &:focus {
      border-bottom: 1px solid #ff6b01;
    }
  }
}

.header__buttons-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.btn-enter {
  padding: 0px;
  margin-right: 10px;
  border: none;
  outline: none;
  color: $white;
  background-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font_weight_m;
  font-size: $font_size_m;
  line-height: $font_height_s;
  cursor: pointer;

  &:hover {
  color: #ff6b01
  }
}

.btn-register {
  padding: 0px;
  margin-left: 10px;
  border: none;
  outline: none;
  color: $white;
  background-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font_weight_m;
  font-size: $font_size_m;
  line-height: $font_height_s;
  cursor: pointer;

  &:hover {
    color: #ff6b01
    }
}

.is-hidden {
  display: none;
}


.user-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    align-items: center
  }

}

.btn-signout {
  padding: 0px;
  color: $white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: $font_weight_m;
  font-size: $font_size_s;
  line-height: $font_height_s;
  
    &:hover {
      color: #ff6b01;
    }
}

.user-name {
  padding-bottom: 7px;
  color: $white;
  margin-bottom: 8px;
  border-bottom: 0.5px solid #ff6b01;
  font-weight: $font_weight_m;
  font-size: $font_size_s;
  line-height: $font_height_s;
}

.is-hidden-account {
  display: none;
  margin-top: 0px;
}


