.auth-form {
  & input {
    width: 100%;
    margin-bottom: 2px;
  }
  position: absolute;
  width: 140px;
  display: flex;
  flex-direction: column;
}

.auth-wrapper {
  position: absolute;
  top: 80px;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.auth-icon {
  margin-bottom: 5px;
  fill: red;
}

// .btn-signout {
// }

.user-name {
  margin-bottom: 8px;
}
