.footer {
    margin-top: 40px;
    @media screen and (min-width:$tablet) {
        margin-top: 60px;
    }
}
.footer_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $primaryGray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer_vector {
    fill: $accent;
}

.footer_link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-decoration: underline;
    color: $primaryGray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

//===========PULSE============//
.footer_pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

.footer_pulse::after,
.footer_pulse::before {
    content: "";
    position: absolute;
    border: 2px solid $accent;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 3s linear infinite;
}

.footer_pulse::after {
    animation-delay: 1.5s;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}



@media screen and (min-width: 768px) {
    .footer {
            height: 78px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $footer;
            
        }
    
    .footer_diskription {
            display: flex;
            justify-content: center;
        }

        .footer_div{
            display: flex;
            justify-content: center
        }

}

@media screen and (min-width: 1280px) {
    .footer {
            height: 78px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $footer;
        }
    
        .footer_diskription {
            display: flex;
            justify-content: center;
        }
}

@media screen and (max-width: 767px) {
    .footer{
        height: 100px;
        display: flex;
            justify-content: center;
            align-items: center;
            background-color: $footer;
    }

        .footer_div {
            display: flex;
            flex-direction: column;
                align-items: center;
        }

                .footer_diskription {
                    display: flex;
                    justify-content: center;
                }
                                .footer-margin {
                                    margin-bottom: 10px;
                                }
}

body.dark-theme .footer {
    background-color: #0e0e0f;
}

body.dark-theme .footer_link{
    color: $white;
}
body.dark-theme .footer_text{
    color: $white;
}