.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.25);
    position: fixed;
    top: 0;
    z-index: 200;
}

.modal {
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;
    

    justify-content: flex-start;
    z-index: 100;
    width: 280px;
    height: 100%;
    padding: 48px 20px 40px 20px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0 auto;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and (min-width: $tablet) {

        overflow-x: hidden;
        overflow-y: hidden;

        display: flex;
        // justify-content: space-between;
        padding: 40px 72px 40px 36px;
        width: 704px;
        height: auto;
        // height: 552px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        // justify-content: space-between;
        padding: 40px 12px;
        width: 806px;
        // height: 558px;
    }

    &__preview {
        width: 240px;
        min-height: 330px;
        margin-bottom: 20px;
        //overflow-y: scroll;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 5px;
        position: relative;

        @media screen and (min-width: $tablet) {
            min-width: 264px;
            min-height: 374px;
            margin-right: 68px;
            margin-bottom: 0;
        }

        @media screen and (min-width: $desktop) {
            min-width: 375px;
            min-height: 560px;
            margin-right: 16px;
        }

        &-img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__close-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        background-color: transparent;
        border: none;
        transition: rotate 500ms linear, transform 300ms ease-in-out;

        &-svg {
            fill: $black;
        }

        &:hover,
        &:focus {
            transform: rotate(90deg);
        }
    }
}

.discription {
    width: 240px;

    &__mvi {
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 20px;

        @media screen and (min-width: $desktop) {
            font-size: 30px;
            line-height: 1.17;
        }
    }

    &__about {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        margin-bottom: 8px;

        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.67;
            margin-bottom: 20px;
        }
    }

}

.mvi {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &__key {
        width: 108px;
        font-size: 12px;
        line-height: 1.33;
        color: #8C8C8C;

        @media screen and (min-width: $desktop) {
            width: 152px;
        }
    }

    &__val {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;

        &-title {
            text-transform: uppercase;
        }
    }

    &__rait {
        color: $white;
        display: inline-block;
        padding: 1px 10px 1px 9px;
        background: #FF6B01;
        border-radius: 5px;
    }

    &__slash {
        color: #8C8C8C;
        margin-right: 7px;
        margin-left: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
    }
}

.button {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media screen and (min-width: $desktop) {
        justify-content: flex-start;
        margin-left: 8px;
        gap: 15px;
    }

    &__add {
        width: 110px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        transition: scale 500ms linear, transform 300ms ease-in-out;

        border: 1px solid $black;
        border-radius: 5px;
        background-color: $white;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }

        @media screen and (min-width: $tablet) {
            width: 125px;
            height: 44px;
        }
    }
}

button.disabl {
    background-color: #FF6B01;
    border: 1px solid #FF6B01;
    border-radius: 5px;
    color: $white;
}

.isHidden {
    opacity: 1;
    visibility: hidden;
    display: none;
    pointer-events: none;
}

.scroll {
    overflow: hidden;
}

body.dark-theme .modal {
    color: $white;
    background-color: #1b1b1d;
}

body.dark-theme .modal__close-btn {
    background-color: #1b1b1d;

    &-svg {
        fill: $white;
    }
}