.backdrop-footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-footer.is-hidden-footer{
    opacity: 0;
    visibility: hidden;
        pointer-events: none;
}

.modal-footer.is-hidden-footer {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-footer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 69, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $accent;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $accent;
    padding: 0;
}

.close-icon {
    fill: $primaryGray;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    background-color: $primaryGray;
    border: 3px solid $primaryGray ;
}

.modal-close-btn:focus .close-icon,
.modal-close-btn:hover .close-icon {
    fill: $accent;
}

// .box-developer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     // align-content: center;
// }

// .developer-foto {
//     width: 223px;
//     height: 206px;
// }

.developer-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 4px;
    color: $accent;
    margin-bottom: 10px;
}

.developer-work {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 4px;
    margin-top: 2px;
}

.developer-user {
    background-color: $white;
    margin-bottom: 10px;
}

.box-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.box-list {
    list-style: none;
}

.developer-user_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-link {
    padding: 10px;
}

.svg {
    fill: $accent;
}

.footer-link:focus .svg,
.footer-link:hover .svg {
    fill: $primaryGray;
}


@media screen and (min-width: 768px) {

.modal-close-btn {
            position: sticky;
            top: 0;
            margin-left: 670px;
    }

.developer-user:nth-last-child(-n+1) {
        margin-bottom: 0;
    }

        .developer-foto {
            height: 528px;
            object-fit: cover;
        }

.modal-footer{
        overflow: scroll;
            height: 90vh;
            width: 758px;
    }

                                                                .box-developer {
                                                                    display: flex;
                                                                    justify-content: space-around;
                                                                        flex-wrap: wrap;
                                                                        margin-right: 0;
                                                                        margin-top: -50px;
                                                                }

                                                                .developer-user{
                                                                    width: 352px;
                                                                }
}

@media screen and (min-width: 1280px) {
.modal-close-btn {
        position: sticky;
        margin-left: 1020px;
    }

.developer-user:nth-last-child(-n+1) {
        margin-bottom: 0;
    }

.modal-footer{
        width: 1100;
        height: 90vh;
        overflow: scroll;
    }

.developer-foto{
        height: 528px;
        object-fit: cover;
    }

.developer-user{
        width: 396px;
    }

.box-developer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: -50px;
    }
}

@media screen and (max-width: 767px) {

.modal-close-btn {
        top: 2px;
            right: 2px;
        }

.modal-footer {
    overflow: scroll;

}

    .developer-user:nth-last-child(-n+1) {
            margin-bottom: 0;
        }

                .box-developer{
                    justify-content: center;
                    width: 320px;
                    height: 80vh;
                    overflow: scroll;
                }
}