.onTrailer {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 220px;
    left: 140px;

    &:hover {
        fill: red;
        cursor: pointer;
    }
}

#trailer {
    z-index: 5;
    position: absolute;

}


