.header-home {
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-image: url("../images/mobile320@1px.jpg");
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url("../images/mobile320@2px.jpg");
    }

    @media screen and (min-width: $tablet) {
        background-image: url("../images/tablet768@1px.jpg");
        height: 216px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url("../images/tablet768@2px.jpg");
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: url("../images/desktop1280@1px.jpg"); 
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url("../images/desktop1280@2px.jpg");
        }
    }  
}

.header__container-home {
    padding: 40px 20px 92px 20px;

    @media screen and (min-width: $tablet){ 
    padding: 40px 32px 81px 32px;    
    }
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__pages {
    display: flex;
}

.header__pages-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font_weight_m;
    font-size: $font_size_s;
    line-height: $font_height_s;
    color: $white;
    text-decoration: none;

    @media screen and (min-width: $tablet){ 
        height: 35px;
    }
}

.header__pages-link:last-child {
    margin-left: 40px;
}

.header__form {
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $tablet){ 
        margin-top: 40px;
    }
}

.header__input {
    width: 280px;
    height: 20px;
    padding: 0px;
    background-color: transparent;
    outline: none;
    color: $white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font_weight_m;
    font-size: $font_size_m;
    line-height: $font_height_s;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #fff;

    @media screen and (min-width: $tablet){ 
        width: 336px;
    }

    @media screen and (min-width: $desktop){ 
        width: 394px;
    }
}

.header__input::placeholder {
    color: $white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font_weight_m;
    font-size: $font_size_m;
    line-height: $font_height_s;
}

.header__submit {
    background: transparent;
    border: none;
    margin-left: -20px;
}

.header__logo {
    height: 24px;

    @media screen and (min-width: $tablet){ 
        height: 35px;
    }
}

.header__logo-name {
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $font_size_xxl;
    line-height: $font_height_m;
    color: $white;
    margin-left: 8px;

    @media screen and (min-width: $tablet){ 
        display: inline-block;
    }
}

.current_page:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $warning;
    bottom: 3px;

    @media screen and (min-width: $tablet){
        bottom: 8px;     
    }
    
  }

.header__container-library {
    padding: 40px 20px 62px 20px;

    @media screen and (min-width: $tablet){ 
    padding: 40px 32px 60px 32px;    
    }
}

.header__library-buttons {
    display: flex;
    margin-top: 60px;
    justify-content: center ;

    @media screen and (min-width: $tablet){ 
        margin-top: 40px;
        justify-content: center;
}
}

.header__button:last-child {
    margin-left: 10px;
    @media screen and (min-width: $tablet){ 
        margin-left: 32px;
    }
    @media screen and (min-width: $desktop){ 
        margin-left: 16px;
    }
}

.header__button {
    width: 130px;
    height: 44px;
    color: $white;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $white;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font_weight_l;
    font-size: $font_size_s;
    line-height: $font_height_l;


    &:hover {
        background-color: #ff6b01;
        border: none;
    }

    &:focus {
        background-color: #ff6b01;
        border: none;
    }
}

.header__library {
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-mobile320@1px.jpg");
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-mobile320@2px.jpg");
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-tablet768@1px.jpg");
        height: 216px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-tablet768@2px.jpg");
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-desktop1280@1px.jpg"); 
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library-desktop1280@2px.jpg");
        }
    }  
}
